html {
    background: rgb(37, 151, 128);
}

#photo {
    display: none;
    margin-left: 900px;
    top: 0px;
    position: relative;
    box-align: right;
}

.center {
    text-align: center;
}

p {
    font-size: 20px;
}

li {
    font-size: 20px; 
}

h3 {
    font-size: 22px;  
}

.underline {
    text-decoration: underline;
}

.contact {
    margin: 20px;
}

html {
    margin: 20px;
}

.italic {
    font-style: italic;
}
